---
import Layout from '../layouts/Layout.astro';
// import HeroiconsChatBubbleLeftEllipsisSolid from '~icons/heroicons/chat-bubble-left-ellipsis-20-solid';
import MugShot from '../components/MugShot.astro';
import Carousel from '../components/Carousel.astro';
import { mostWanted, arrests } from '../logic/perpetrators';
---

<Layout>
	<div class="bg-gray-800 p-4 text-gray-50">
		<div class="mx-auto grid max-w-screen-2xl grid-cols-[24rem_auto_24rem] gap-4 scroll-smooth px-4">
			<div class="ml-auto mt-4 flex w-max flex-col">
				<h2 class="self-start font-display text-4xl">Recent arrests</h2>
				<ul class="mt-4 space-y-4">
					{arrests.map((perp) => <MugShot perp={perp} />)}
				</ul>
			</div>
			<Carousel />
			<div class="mt-4 flex flex-col">
				<h2 class="font-display text-4xl">Most Wanted</h2>
				<ul class="mt-4 space-y-4">
					{mostWanted.map((perp) => <MugShot perp={perp} />)}
				</ul>
			</div>
		</div>
	</div>
	<div class="bg-blue-200 text-gray-900">
		<div class="mx-auto grid h-64 max-w-screen-2xl gap-4 scroll-smooth p-4">
			<h2>Some other content</h2>
		</div>
	</div>
</Layout>

<style is:global>
	.mugshot-tag {
		@apply text-gray-400;
	}
</style>
