---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="mx-auto mt-8 grid max-w-screen-sm grid-cols-[auto] gap-4 scroll-smooth px-4">
		<details>
			<summary>ยง 1 - Coping</summary>
			<p>You are coping.</p>
		</details>
		<details>
			<summary>ยง 2 - x</summary>
			<p>xxx</p>
		</details>
	</main>
</Layout>
