---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<details>
			<summary>1 - Coping</summary>
			<p>You are coping.</p>
		</details>
		<details>
			<summary>2 - x</summary>
			<p>xxx</p>
		</details>
	</main>
</Layout>
