---
import type { CollectionEntry } from 'astro:content';
interface Props {
	perp: CollectionEntry<'perpetrators'>;
}
const { perp } = Astro.props;
const { Content } = await perp.render();
---

<li>
	<span class="font-display text-2xl">{perp.data.name}</span>
	<span class="text-base">
		<Content />
	</span>
</li>

<style></style>
